@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
* {
  box-sizing: border-box;
}

body,
html {
  /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: "Open Sans", "sans-serif";

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: rgb(34, 32, 32);
  overflow-x: hidden;
  background: rgb(226, 227, 230);
  /* height: 100%; */
}
h1 {
  text-transform: none;
}
h1 strong {
  font-weight: 800;
}
h2 {
  text-transform: none;
  /* font-size: 3rem; */
  line-height: 20px;
  margin: 0;
  color: black;
}
h3 {
  font-size: 25px;
  font-weight: 900;
}
h4 {
  text-transform: none;
}
h5 {
  text-transform: none;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-family: "Open Sans", sans-serif;
}
p.lead {
  font-size: 26px;
  margin: 12px 0 0;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
a {
  color: #00ad70;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #00ad70;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
.gap {
  margin-bottom: 50px;
}
.section-title.center {
  padding: 30px 0;
}
.section-title h2,
.section-title.center h2 {
  font-weight: 700;
  font-size: 4rem;
  color: #323232;
}
.section-title.center .line {
  border-top: 4px solid white;
  height: 10px;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.section-title.center .line:hover {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 15%;
}
#art-menu {
  padding: 20px;
  transition: all 0.8s;
}
#art-menu.navbar-default {
  background-color: rgba(248, 248, 248, 0.03);
  border-color: rgba(231, 231, 231, 0);
}
#art-menu a.navbar-brand {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  font-weight: 900;
}
#art-menu a.navbar-brand:hover {
  color: #00ad70;
}
#art-menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}
.on {
  /* background-color: rgb(15, 15, 15) !important; */
  /* background-color: rgb(58, 153, 216) !important; */
  background-color: rgb(97 28 255) !important;
  /* background-image: url(../img/mbg.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; */

  padding: 0 !important;
  opacity: 0.95;
  box-shadow: 0 4px 22px -2px rgb(38, 104, 148);
  /* background-color: rgb(32, 126, 189); */
}

.onred {
  /* background-color: rgb(15, 15, 15) !important; */
  background-color: rgb(216, 58, 58) !important;
  padding: 0 !important;
  opacity: 0.95;
  box-shadow: 0 4px 22px -2px rgb(148, 38, 38);
  /* background-color: rgb(32, 126, 189); */
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00ad70 !important;
  background-color: transparent;
  font-weight: 700;
}

.navbar-toggle {
  border-radius: 0;
}
/* .navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00ad70;
  border-color: #00ad70;
} */
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.iconlinkz {
  margin: 0 5px;
  /* transform: scale(2); */
}
/* 
.iconlinkz i:hover {
    transform: scale(2.2);
} */

@media (max-width: 803px) {
  .label {
    font-size: 20px;
    margin: auto;
    text-align: center;
  }
  #art-menu.navbar-default {
    background-color: rgba(66, 64, 64, 0.39);
  }

  .headerTitle {
    font-size: 50px;
    /* margin-top: 13vh; */
  }

  .content {
    width: 90%;
    float: center;
    margin: auto;
  }

  p.lead {
    font-size: 16px;
  }

  .side {
    display: none;
  }

  .rside {
    display: none;
  }

  #home .layer {
    /* height: 700px; */
    /* min-height: 700px#hom; */
    background-attachment: fixed;
    background: rgba(7, 2, 4, 0.27);
  }

  .text {
    display: block;
    margin: 15px auto;
    width: 100%;
  }

  .blockz {
    line-height: 1.2;
    font-weight: 600;
    display: block;
    width: 60%;
    text-align: center;
    margin: 150px auto -20px auto;
  }

  .pre {
    font-size: 3.5em;
    margin-bottom: 0;
  }

  .pree {
    font-size: 25px;
  }

  .containertwo {
    max-width: 90%;
    display: block;
    margin: auto;
  }

  .text {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 1.05em;
    font-weight: 700;
    color: #f5f5f5;
    /* text-shadow: 1px 1px 1px #919191, 1px 1px 1px #919191, 1px 2px 1px #919191,
      1px 3px 1px #919191, 1px 3px 1px #919191, 1px 3px 1px #919191,
      1px 3px 1px #919191, 1px 3px 1px #919191, 1px 3px 1px #919191,
      1px 3px 1px #919191, 1px 10px 4px rgba(16, 16, 16, 0.4),
      1px 12px 5px rgba(16, 16, 16, 0.2), 1px 15px 25px rgba(16, 16, 16, 0.2),
      1px 20px 50px rgba(16, 16, 16, 0.4); */
    /* border-bottom: 3px white; */
  }

  .apps {
    width: 100%;
    margin: auto;
    display: block;
  }

  #home .layer .content {
    position: relative;
    /* padding: 17% 0 0 0; */
    padding: 150px 0 100px 0;
  }
}

@media only screen and (min-width: 804px) {
  #home .layer .content {
    position: relative;
    /* padding: 17% 0 0 0; */
    padding: 200px 0 200px 0;
  }

  .apps {
    width: 70%;
    margin: auto;
    display: block;
  }
  .text {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 1.05em;
    font-weight: 700;
    color: #f5f5f5;
    /* text-shadow: 1px 1px 1px #919191, 1px 1px 1px #919191, 1px 2px 1px #919191,
      1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191,
      1px 5px 1px #919191, 1px 5px 1px #919191, 1px 5px 1px #919191,
      1px 5px 1px #919191, 1px 10px 4px rgba(16, 16, 16, 0.4),
      1px 12px 5px rgba(16, 16, 16, 0.2), 1px 15px 25px rgba(16, 16, 16, 0.2),
      1px 20px 50px rgba(16, 16, 16, 0.4); */
  }
  .containertwo {
    max-width: 50%;
    display: block;
    margin: auto;
  }
  .pre {
    font-size: 5em;
    margin-bottom: 0;
  }
  .headerTitle {
    font-size: 100px;
  }
  .content {
    width: 85%;
    float: center;
    margin: auto;
  }

  .blockz {
    line-height: 1.2;
    margin-left: 70px;
    padding: 0;
    font-weight: 600;
    margin-top: 150px;
  }

  #home .layer {
    /* height: 900px; */
    /* min-height: 900px; */
    background-attachment: fixed;
    background: rgba(7, 2, 4, 0.27);
  }

  .pree {
    font-size: 40px;
  }

  .label {
    font-size: 20px;
    margin: auto;
    text-align: center;
  }
}

@media screen and (min-width: 1350px) {
  #home .layer .content {
    position: relative;
    /* padding: 17% 0 0 0; */
    padding: 200px 0 180px 0;
  }
}

#home {
  background-image: url("../img/mbg.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* animation: shrink 5s  ease-in; */
}

@media (max-width: 768px) {
  #home {
    background-attachment: scroll; /* Change attachment property for smaller screens */
  }
}

#home p.lead {
  color: #fff;
}
.white-bg {
  background: #ffffff;
  padding: 120px 0;
  display: block;
}
/* About Section
==============================*/
#about {
  /* padding: 80px 0; */
}
.about {
  padding-top: 1%;
  padding-bottom: 4%;
}
.progress {
  height: 30px;
}
#features {
  text-align: center;
  padding: 1%;
}
#features i {
  font-size: 48px;
}
#features h3 {
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 7px;
}
#features .slider-layer {
  opacity: 0.8;
}
#about p {
  margin-top: 0;
  margin-bottom: 1.6em;
}

/* Contact Section
==============================*/
#contact {
  padding-top: 45px;
  padding-bottom: 0;
  padding: 80px 0;
}

#contact h2 {
  color: white;
}

#contact #contact-form {
  max-width: 650px;
  margin: 70px auto;
  float: none;
}
#contact #contact-form input[type="text"],
#contact #contact-form textarea {
  color: black;
  font-size: 16px;
  padding: 15px 0;
  width: 100%;
  padding-left: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 5px;
  border: 0;
  /* border:1px solid #26292E; */
  border-radius: 3px;
  position: relative;
}
#contact #contact-form input[type="submit"] {
  float: none;
  margin: 20px auto;
  border-radius: 3px;
}
#contact .error_message {
  color: red;
}
#contact-form {
  text-align: center !important;
  max-width: 600px;
  float: left;
}
#contact-form input[type="text"],
#contact-form textarea {
  color: #7f8289;
  font-size: 12px;
  padding: 15px 0;
  width: 100%;
  padding-left: 10px;
  background: none;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #26292e;
}
#contact-form input[type="text"]:focus,
#contact-form textarea:focus,
input[type="email"]:focus {
  color: #fff;
  outline: none;
}
#contact-form textarea {
  height: 170px;
  resize: none;
}
.address {
  display: block;
  /* color: #3992cf; */
  color: #01ad71;
  font-weight: 600;
  font-size: 22px;
}
#contact-form input[type="submit"],
.controls button {
  background: none;
  border: 2px white solid;
  /* border-bottom: 5px rgb(138, 34, 36) solid; */
  border-radius: 0;
  padding: 14px 20px;
  line-height: 14px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  -webkit-appearance: none;
  float: right;
  /* background:#DE5E60; */
}
#contact-form input[type="submit"]:hover,
.controls button {
  background: #00ad70;
  border: 2px #00ad70 solid;
  /* border: 2px #DE5E60 solid; */

  /* transform: scale(1.2); */
}
.error_message {
  text-align: center;
  margin-bottom: 30px;
  font-size: 15px;
  color: #fff;
}
#success_page h3 {
  text-align: center;
  font-size: 18px;
}
#success_page p {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
#message fieldset {
  border: none;
  color: #fff;
}
#contact p,
#contact #success_page p {
  color: #666;
  text-align: center;
}
#contact #message fieldset {
  color: #fff;
}
/* Portfolio Section
==============================*/
#portfolio {
  padding: 0px 0;
}

a.fa.fa-angle-down {
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 45px;
  transition: all 0.5s;
}
/* a.fa.fa-angle-down:hover {
  color: #00ad70;
  border: 2px solid #00ad70;
} */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* Footer Section
==============================*/
.footerz {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

#footer {
  color: #fff;
  background: #26292e;
}
.footer-top {
  position: relative;
  padding: 30px 0;
}

#footer .footer-bottom {
  background-color: #26292e;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.footer-logo a {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
#footer .social-icons ul li a {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  line-height: 33px;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}
.social-icons ul li a {
  color: #fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}
.social-icons .icon-sm:hover {
  border-radius: 10px;
  background-color: #00ad70;
}
.icon-lg {
  font-size: 48px;
  height: 108px;
  width: 108px;
  line-height: 108px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block !important;
  border-radius: 100%;
}
.icon-md {
  font-size: 36px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
  border-radius: 50%;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.icon-sm {
  font-size: 24px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
  border-radius: 50%;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
