@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: "Open Sans", "sans-serif";

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: rgb(34, 32, 32);
  overflow-x: hidden;
  /* overflow:hidden; */
  background: rgb(226, 227, 230);
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  text-transform: none;
}
h1 strong {
  font-weight: 800;
}
h2 {
  text-transform: none;
  /* font-size: 3rem; */
  /* line-height: 20px; */
  margin: 0;
  /* color: black; */
}
h3 {
  font-size: 25px;
  font-weight: 900;
}
h4 {
  text-transform: none;
}
h5 {
  text-transform: none;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #00ad70;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #00ad70;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
.gap {
  margin-bottom: 50px;
}

.section-title h2 {
  font-weight: 700;
  font-size: 2.5rem;
  /* color: #323232; */
  text-align: center;
}

.section-title {
  padding-top: 30px;
}




/* home section */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 750px;
  background-image: url(../img/mbg.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* animation: shrink 5s ease-in; */
}

/* .home_buttons {
  display: flex;
  gap: 7px;
} */

.home_title {
  font-family: verdana;
    font-size: 7em;
    font-weight: 700;
    color: #f5f5f5;
    text-align: center;
    margin: auto;
}

.home_rtbutton {
  background: #00ad70;
  /* border: 1px solid transparent; */
  /* border: none; */
  color: #fafafa;
  font-weight: bold;
  border: 1px solid #00ad70;

  padding: 15px 15px;
  /* border: 1px solid #fafafa; */
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  /* font-weight: 600; */
}

.home_rtbutton:hover {
  background: transparent;
  border: 1px solid #00ad70;
  color: white;
}

.home_ltbutton {
      /* width: 25%; */
    /* padding: 1.3rem 1rem; */
    padding: 15px 15px;
    border: 1px solid #fafafa;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    /* margin: 10px auto; */
}

.home_ltbutton:hover{
  border: 1px solid #00ad70;
    transform: translateY(-2px);
    box-shadow: 0 10px 100px -20px #00ad70;
    color: white;
}


@media (max-width: 803px) {
.home_title {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3.05em;
    font-weight: 700;
    color: #f5f5f5;
  
}
}

@media screen and (max-width: 540px){
.home_buttons a {
    /* width: 25%; */
    /* padding: 1.3rem 1rem; */
    padding: 15px 5px;
    /* border: 1px solid #fafafa; */
    /* color: #fafafa; */
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    /* margin: 10px auto; */
}
}



/* About section */

.about {
  position: relative;
  background-color: white;
}
.about_svg {
  fill: rgb(255, 255, 255);
  position: absolute;
    top: -49px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}

.about_container .section-title .line {
  border-top: 4px solid rgb(0, 0, 0);
  height: 10px;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.about_fouricons {
  /* display: flex; */
  display: block;
    margin: auto;
    /* float: center; */
    text-align: center;
}

.about_col {
      /* box-shadow: 0 0 0 3px #037e7c; */
    /* box-shadow: inset 0 0 0 6px #037e7c; */
   

    width: 20%;
    /* float: center; */
    display: inline-block;
    margin: 0 10px;
    /* margin-right: 4%; */
    vertical-align: top;
    /* text-align: center; */
}

.about_circle {
  /* box-shadow: 0 0 0 3px #037e7c;  */
  /* box-shadow: inset 0 0 0 6px #037e7c; */
  float: center;
  margin: auto;
  /* background-color: #59afe8; */
  background-color: rgb(97 28 255) !important;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px){
.about_col {
    width: 40%;
    /* float: center; */
    padding: 15px;
}

}

@media screen and (max-width: 767px){
  .about_col {
      width: 42%;
      /* float: center; */
      padding: 15px;
  }

 
  }

 
.fa {
  /* transform: scale(1.5); */
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 35px;
     margin-top: 28px;
      color: white;
}


.label {
  font-size: 20px;
    margin: auto;
    text-align: center;
    display: inline;
    /* padding: 0.2em 0.6em 0.3em; */
    /* font-size: 75%; */
    font-weight: 700;
    line-height: 1;
    /* color: #fff; */
    /* text-align: center; */
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}

/* @media (min-width: 992px){
.col-md-6 {
    display: flex;
}
} */

.avatar {
      /* box-shadow: 0 0 0 3px #037e7c; */
    /* box-shadow: inset 0 0 0 6px rgb(238, 238, 238); */
    float: center;
    margin: auto;
    background-color: white;
    /* height: 220px; */
    width: 220px;
    border-radius: 50%;
}
.about_container {
  padding: 10px 40px 100px 40px;
}

.about_columns {
  background-color: white;
  /* height: 750px; */
  /* display: block; */
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;
  width: 90%;
  margin: auto;
}

.skz {
  padding: 12px 16px;
    /* border: 1px solid #5228ba; */
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #fcfcfc;
    /* background-color: #4a1dbb; */
    background: #6826f9;
    display: inline-block;
    /* width: 50%; */
    /* margin: auto; */
    margin: 6px auto;
}

.about_content {
  text-align: left;
  margin-top: 16px;
  /* padding: 0 20px; */
  display: block;
}

.about_col_1 {
  width: 55%;
  /* margin: auto; */
}

@media screen and (max-width: 1024px){
  .about_columns {
   display: block;
   width: 100%;
  }

  .about_col_1 {
    width: 100%;
    /* margin: auto; */
  }
  
  }

  /* MYAPPS SECTION */

  

  .myapps {
    position: relative;
    /* background-color: white; */
    background-color: #f0f0f0;
  }

  .myapps_svg {
    fill: #f0f0f0;
    position: absolute;
      top: -49px;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
  }
  
  .myapps_images {
    display: block;
    width: 70%;
    margin: auto;
    padding-top: 20px;

  }

  .apps {
    width: 70%;
    margin: auto;
    display: block;
  }

 
  .myapps_container {
    margin: auto;
    padding-bottom: 50px;
  }

  .myapps_container .section-title .line {
    border-top: 4px solid rgb(0, 0, 0);
    height: 10px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px){
  .myapps_images {
   
    width: 100%;
   

  }
  
  }



  /* studio */

  .studio {
    position: relative;
    /* background-color: white; */
    background-color: rgb(184 33 0);
    color: white;
  }
  
  .studio_svg {
    fill: rgb(184 33 0);
    position: absolute;
      top: -49px;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
  }


  
  /* VIDEO CAROUSEL */
  @media screen and (min-width: 960px) {
    .carousel {
      max-width: 1050px;
      width: 85%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .carousel:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 100%;
      background: linear-gradient(to left, rgba(249, 8, 8, 0), rgb(184, 33, 0));
      content: "";
      z-index: 2;
    }
  
    .carousel:after {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 100%;
      background: linear-gradient(to right, rgba(249, 8, 8, 0), rgb(184, 33, 0));
      content: "";
      z-index: 2;
    }
  }
  
  .carousel {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .carousel_items {
    display: flex;
    /* width: 1650px; */
    animation: slider 17s ease infinite;
  }
  
  /* .carousel_items video {
    width: 600px;
  } */
  @keyframes slider {
    0% {
      transform: translateX(0);
    }
    5% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-450px);
    }
    15% {
      transform: translateX(-450px);
    }
    20% {
      transform: translateX(-450px);
    }
    25% {
      transform: translateX(-900px);
    }
    30% {
      transform: translateX(-900px);
    }
    35% {
      transform: translateX(-900px);
    }
    40% {
      transform: translateX(-1350px);
    }
    45% {
      transform: translateX(-1350px);
    }
    50% {
      transform: translateX(-1350px);
    }
    55% {
      transform: translateX(-1800px);
    }
    60% {
      transform: translateX(-1800px);
    }
    65% {
      transform: translateX(-1800px);
    }
    70% {
      transform: translateX(-2250px);
    }
    75% {
      transform: translateX(-2250px);
    }
    80% {
      transform: translateX(-2250px);
    }
    85% {
      transform: translateX(-2700px);
    }
    90% {
      transform: translateX(-2700px);
    }
  
    90% {
      transform: translateX(-2700px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  /* @media screen and (min-width: 782px) {
    .carousel_items {
      display: flex;
      animation: carousel 30s linear infinite;
    }
    @keyframes carousel {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  } */
  
  .carousel_img {
    display: block;
    /* width: 650px; */
    object-fit: cover;
  }
  
  @keyframes carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .carousel:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to left, rgba(249, 8, 8, 0), rgb(184, 33, 0));
    content: "";
    z-index: 2;
  }
  
  .carousel:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to right, rgba(249, 8, 8, 0), rgb(184, 33, 0));
    content: "";
    z-index: 2;
  }
  
.studio_container .section-title .line {
  border-top: 4px solid rgb(255, 255, 255);
  height: 10px;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.studio_container{
  padding-bottom: 120px;
}


/* PROJECTS */
.projects {
  position: relative;
  /* background-color: white; */
  background-color: #f0f0f0;
  /* color: white; */
}

.projects-container {
  max-width: 900px;
  margin: auto;
  padding-bottom: 90px;
}
.projects svg {
  position: absolute;
  top: -49px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  fill: #f0f0f0;
}

.projects-container .section-title .line {
  border-top: 4px solid rgb(0, 0, 0);
  height: 10px;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.projects-item {
  /* display: flex;
  flex-wrap: wrap; */
  width: 100%;
  margin: auto;
  padding: 1rem;
  column-count: 3;
}


@media only screen and (max-width: 800px){
  .projects-item{
    column-count: 1;
  }
}


.itemtwo {
  /* flex-grow: 1;
  width: 33%; */
  /* max-width: 290px; */
  /* height: 100px; */
  width: 100%;
  margin-bottom: 1rem;    
}

.contentzz {
  
    background-color: rgb(255, 255, 255);
  
    text-align: center;
  
    border-radius: 12px;
    overflow: hidden;
  
    margin: 5px;
    color: black;
  
  
    padding-bottom: 12px;
  
}

.contentzz img {
  width: 100%;
  /* min-height: 360px; */
  display: block;
  text-align: center;
  margin: 0px auto;
  /* border-radius: 12px; */
  object-fit: cover;
}

.contentzz h4 {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  padding: 0;
  margin: 10px;
}
.contentzz p {
  display: inline-block;
  padding: 0; 
 /* margin: 3px; */
 margin: 0 0 10px;
}
.tagz {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
  /* display: flex; */
  /* width: 100%; */
  /* width: 20%; */
  text-align: center;
  /* box-shadow: 0 4px 12px -2px rgb(70, 68, 68); */
  font-weight: 600;
}

.textzzz {
  padding: 12px 16px;
  /* border: 1px solid #5228ba; */
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #fcfcfc;
  /* background-color: #4a1dbb; */
  background: #6826f9;
  width: 90%;
  /* margin: auto; */
  margin: 6px auto;
}

.textzzz:hover {
      /* transform: scale(0.9); */
      cursor: pointer;
      /* background-color: #de5e60; */
      transform: scale(1.03);
      transition: transform 0.2s ease;
}


/* CONTACT */
.contact {
  position: relative;
  color: white;
  /* background-color: white; */
}
.contact_svg {
  fill: #1b1d22;
  position: absolute;
    top: -49px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}

.contact_container .section-title .line {
  border-top: 4px solid rgb(255, 255, 255);
  height: 10px;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.contactbox {
  margin: auto;
  text-align: center;
}

.socialiconz {
  margin-bottom: 10px;
}
.socialiconz .iconlinkz {
  background-color: #00ad70;
  padding: 25px;
}

.socialiconz a {
  color: white;
  margin: 5px 15px;
}

.copyright {
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 10px;
}
/* .content {
  min-height: 100%;
}
.contact {
  height: 50px;
  margin-top: -50px;
} */

.socialiconz .iconlinkz:hover {
  /* padding: 20px; */
  /* border: 1px solid #00ad70; */
    /* transform: translateY(-2px); */
    transform: scale(1.2);
    box-shadow: 0 10px 100px -20px #00ad70;
    color: white;
    cursor: pointer;
    /* background-color: #de5e60; */
    /* transform: scale(1.03); */
    transition: transform 0.2s ease;
}



/* NAVIGATION */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
}
nav.sticky{
  padding: 15px 20px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}
nav.sticky .logo a{
  color: #fff;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: #4070f4;
 }
 nav.sticky .nav-links li a{
   color: #fff;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #0E2431;
}