.hiding {
  opacity: 0;
}

.showing {
  opacity: 1;
}

.img-rounded {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-blue {
  color: #fff;
  background: #227fe8;
}

.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background: #233b6f;
}

.btn-green {
  color: #fff;
  background: #f5b76a;
}

.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background: #233b6f;
}

.btn-dark {
  color: #fff;
  background: #233b6f;
}

.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background: #233b6f;
}

.list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

#portfolio {
  width: 100%;
}

#about .content {
  margin-bottom: 0;
}

#about .teammate {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#about .teammate .profile-photo {
  overflow: hidden;
}

#about .teammate .profile-photo img {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#about .teammate:hover .profile-photo img,
#about .teammate:focus .profile-photo img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#about .teammate .bio .border {
  height: 1px;
}

#about .teammate .bio ul {
  margin-bottom: 0;
}

#about .teammate .bio a {
  color: #666;
}

#about .teammate .bio a:hover,
#about .teammate .bio a:focus {
  color: #222;
}
/* 
#contact {
    background: url(../img/cover/contact.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */
/* 
#contact,
#contact a,
#contact a:hover,
#contact a:focus {
    color: #fff
}

#contact .heading .border {
    background: #fff
}

#contact a {
    display: block;
}

#contact i {
    margin: 4rem 0 1rem;
} */

#footer {
  padding: 4rem 0;
  color: #ccc;
  text-align: center;
  background: #233b6f;
}

#footer a,
#footer a:hover,
#footer a:focus {
  color: #fff;
}

#footer .social {
  margin-bottom: 1rem;
}

#footer .social li .facebook:hover,
#footer .social li .facebook:focus {
  color: #3b5998;
}

#footer .social li .twitter:hover,
#footer .social li .twitter:focus {
  color: #00aced;
}

#footer .social li .google-plus:hover,
#footer .social li .google-plus:focus {
  color: #d34836;
}

#footer .social li .dribbble:hover,
#footer .social li .dribbble:focus {
  color: #ea4c89;
}

#footer .copyright {
  margin-bottom: 0;
}

.work .title {
  color: #222;
}

/* Venobox */

.vbox-container {
  overflow: hidden;
}

/* Responsive style */

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
